{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "tests/logs/infection-log.txt",
        "summary": "tests/logs/infection-summary-log.txt",
        "debug": "tests/logs/infection-debug-log.txt"
    }
}
